[mysqld]
# データベース作成時のデフォルト文字コード
character-set-server=utf8mb4
# サーバー全体で使用する照合順序を指定
collation-server=utf8mb4_bin
# PHPのPDOがcaching_sha2_passwordに対応していないため旧バージョンに設定
default_authentication_plugin=mysql_native_password

[client]
# クライアントからSQL文などが送信される時に使用される文字コード
default-character-set=utf8mb4